*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #f9f9ff;
    --main-color:#f25341;
    --text-color:#35404e;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
/*    overflow: hidden;*/
}
header{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 111;
    padding: 30px 350px;
    background: var(--bg-color);
    box-shadow: rgba(33,35,38,0.1) 0px 10px 10px -10px;
}
.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main-color);
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.nav{
    display: flex;
}
.nav a{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 15px 20px;
    transition: color .4s;
}
.nav a:hover{
    color: var(--main-color);
}

/*home section*/

section{
    padding: 75px 16.7%;
}
.home{
    width: 100%;
    min-height: 95vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    align-items: center;
}
.home-image img{
    max-width: 100%;
    width: 520px;
    height: auto;
}
.home-text h5{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--main-color);
}
.home-text h2{
    font-size: 3rem;
    line-height: 1.4;
    color: var(--text-color);
    margin-bottom: 25px;
}
.home-text p{
    max-width: 100%;
    width: 320px;
    font-size: 1rem;
    line-height: 1.8;
    color: #717173;
    margin-bottom: 20px;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background: var(--main-color);
    border-radius: 5rem;
}
.btn:hover{
    transform: scale(1.2);
    background: #f37465;
    transition: .4s;
    box-shadow: 0 5px 15px 2px rgb(63 44 44 /18%);
}

/*start about section*/
.about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 5rem;
    align-items: center;
    padding-top: 100px;
}
.about-image img{
    max-width: 100%;
    width: 550px;
    height: auto;
}
span{
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 15px;
}

/*start of services section*/
.heading{
    text-align: center;
}
service{
    padding-top: 100px;
}
.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 3rem;
    align-items: center;
    margin-top: 4rem;
}
.row{
    padding: 60px 45px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    box-shadow: rgba(0,0,0,0.04) 0px 3px 5px;
}
.row i{
    font-size: 3.2rem;
    color: var(--main-color);
    margin-bottom: 20px;
}
.row h3{
    font-size: 1.5rem;
    margin-bottom: 19px;
    font-weight: 500;
    color: var(--text-color);
}
.row p{
    color: #717173;
    font-size: 18px;
    line-height: 30px;
}
.row:hover{
    transform: scale(1.1);
    border-bottom: 2px solid var(--main-color);
    transition: .4s;
}

/*start of portfolio section*/
.portfolio{
    padding-top: 100px;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4rem;
}
.box{
    height: 400px;
    width: auto;
    border-radius: 10px;
    transition: all 0.8s;
    overflow: hidden;
    box-shadow: rgba(0,0,0,0.04) 0px 3px 5px;
    position: relative;
    cursor: pointer;
}
.box-one{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/home-image.png) center center no-repeat;
    background-size: 500px;
}
.box-one:hover{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/home-image.png) left center;
    background-size: 600px;
}
.box-two{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/home-image.png) center center no-repeat;
    background-size: 500px;
}
.box-two:hover{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/home-image.png) left center;
    background-size: 600px;
}
.box-three{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/home-image.png) center center no-repeat;
    background-size: 500px;
}
.box-three:hover{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/home-image.png) left center ;
    background-size: 600px;
}
.inner{
    position: absolute;
    bottom: 45px;
    left: 35px;
}
.inner h6{
    color: #c6c9d8;
    font-size: 1rem;
    line-height: 1.7;
    font-weight: 500;
    margin-bottom: 10px;
}
.inner h3{
    font-size: 1.7rem;
    color: white;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 10px;
}
.inner button{
    background: var(--main-color);
    border: 2px solid var(--main-color);
    color: white;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.inner button:hover{
    background: transparent;
    border: 2px solid #c6c9d8;
    transition: .4s;
}




/*start call to action section*/
.cta{
    background: var(--main-color);
    width: 66%;
    margin: 100px auto;
    padding: 70px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: rgba(33,35,38,0.1) 0px 10px 10px -10px;
}
.cta-text h2{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 25px;
}
.cta-text p{
    color: white;
}
.cta-btn{
    background: white;
    color: var(--main-color);
    padding: 12px 30px;
    border-radius: 20px;
    font-size: 1rem;
}
.cta-btn:hover{
    background: var(--main-color);
    color: white;
    transition: .4s;
}

/*start contact section*/
.contact-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
}
.con-box{
    padding: 40px 20px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    border-bottom:2px solid transparent; 
    box-shadow: rgba(33,35,38,0.1) 0px 10px 10px -10px;
}
.icon i{
    height: 50px;
    width: 50px;
    background: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 0px 15px 30px 0px rgba(0 0 0 /25%);
}
.icon i:hover{
    color: white;
    background: var(--text-color);
    transition: .4s;
}
.con-box h3{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 15px;
}
.con-box h5{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 5px; 
}
.con-box h6{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 5px; 
}



/*start bottom/footer section*/
.bottom{
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.bottom p{
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 2px;
}




/*start responsive*/
@media (max-width:1500px){
    header{
        padding: 15px 40px;
    }
    .home-text h2{
        font-size: 2rem;
    }
    
}
@media (max-width:1260px){
    .cta{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 60px 25px;
    }
    .cta-text h2{
        margin-bottom: 10px;
    }
    .cta-text p{
        margin-bottom: 30px;
    }
}
@media (max-width:1340px){
    section{
        padding: 50px 5%;
    }
}
@media (max-width:830px){
    #menu-icon{
        display: block;
    }
    header .nav {
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: white;
        transition: .4s;
    }
    header .nav.active{
        top: 50px;
    }
    .nav li a{
        display: block;
        padding: 1.6rem;
    }
}
@media (max-width:950px){
    .home{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 80px;
    }
    .home-text p{
        width:100%; 
    }
    .about{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-image{
        order: 2;
    }
}
@media (max-width:405px){
    .cta-btn{
        font-size: .5rem;
    }
}
@media (max-width:376px){
    .cta{
        padding: 60px 25px;
        width: 95%;
        margin-left: 10px;
    }
    .cta-btn{
        font-size: 1rem;
    }
    .home-text p{
        font-size: 1rem;
    }
}

@media (max-width:336px){
    .contact-container{
        padding: 15px 40px;
        width: 100%;
    }
    .contact-container .heading h2{
        padding-top: 2rem;
        font-size: 2rem;
    }
    .cta{
        padding: 60px 25px;
        width: 100%;
        margin-left: 20px;
    }
    .cta-btn{
        font-size: 1rem;
        padding: 10px 30px;
        line-height: 1.6;
        border-radius: 10px;
        margin: 0px 3px;
    }
    .heading h2{
        width: 100%;
        padding: 15px 50px;
    }
    .home{
        margin-left: 30px;
    }
    .about{
        margin-left: 30px;
    }
}







